.titleText {
  margin: 50px;
}

.search_block {
  display: flex;
  position: relative;
  justify-content: center;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  // element cannot be shown outside the block boundary
  overflow: hidden;
  align-items: center;

  
  .eraseText {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 15%;
    height: 55%;
  }

  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
  }
}
