body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

* {
  font-family: "Inter", system-ui;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 20px;
  }

  h3,
  p {
    margin: 0;
  }
}

.logoImg {
  width: 40px;
  height: 40px;
}

.cartSVG, .userSVG {
  width: 20px;
  height: 20px;
}

.content {
  h1 {
    margin: 0;
  }
}

// .button {
//   background: #ffffff;
//   border: 1px solid #f2f2f2;
//   box-sizing: border-box;
//   border-radius: 8px;
//   height: 32px;
//   width: 32px;
//   cursor: pointer;
// }

.search-block {
  padding-left: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  // element cannot be shown over the block border
  overflow: hidden; 
  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
  }
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .items {
    overflow: auto;
  }
}

.right-cart {
  position: absolute;
  height: 100%;
  right: 0;
  width: 450px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
  }

  p {
    margin: 0;
  }

  b { 
    font-size: 14px;
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 10px;

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }
}


.delete-btn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }
}

.cartTotalBlock {
  li { 
    margin-bottom: 15px;
  }
  div { 
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 10px;
  }
}

.items {
  flex: 1;
}

.buyItemsBtn {
  background-color: #9DD558;
  border: 0;
  height: 60px;
  border-radius: 18px;
  margin-top: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-size: 20px;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }

}